@font-face {
	font-family: 'ShermanSans';
	src: url('https://assets.syracuse.edu/fonts/shermansans-book.woff2') format('woff2'),
		url('https://assets.syracuse.edu/fonts/shermansans-book.woff') format('woff'),
		url('https://assets.syracuse.edu/fonts/shermansans-book.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}

@font-face {
	font-family: 'ShermanSans';
	src: url('https://assets.syracuse.edu/fonts/shermansans-book-intl.woff2') format('woff2'),
		url('https://assets.syracuse.edu/fonts/shermansans-book-intl.woff') format('woff'),
		url('https://assets.syracuse.edu/fonts/shermansans-book-intl.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
}

@font-face {
	font-family: 'ShermanSans';
	src: url('https://assets.syracuse.edu/fonts/shermansans-bold.woff2') format('woff2'),
	 url('https://assets.syracuse.edu/fonts/shermansans-bold.woff') format('woff'),
	 url('https://assets.syracuse.edu/fonts/shermansans-bold.eot') format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}

@font-face {
	font-family: 'ShermanSans';
	src: url('https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff2') format('woff2'),
	 url('https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff') format('woff'),
	 url('https://assets.syracuse.edu/fonts/shermansans-bold-intl.eot') format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
}


* {
	box-sizing: border-box;
}

*:focus {
	outline: dotted #2B72D7 3px;
	outline-offset: 2px;
}

[hidden] {
	display: none;
}

body {
	font-family: ShermanSans, Verdana, Tahoma, sans-serif;
	color: #101010;
	line-height: 1.6;
}

a, a:visited {
	color: #2B72D7;
}

h1 {
	font-size: 2.25rem;
	margin: 1.125rem 0 0.5rem;
}

h2 {
	font-size: 1.75rem;
	margin: 1.125rem 0 0.5rem;
}

p {
	margin: 0;
}

p + p {
	margin-top: 0.75rem;
}

code {
	font-family: "Lucida Console","Courier New",monospace;
	word-break: break-all;
}

.offscreen {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.skipnavlink {
	position: absolute;
	margin: 0.375rem;
	padding: 0.625rem;
	color: #fff !important;
	background-color: #2B72D7;
	z-index: 2000;
	font-size: 1.125rem;
}

.skipnavlink:focus {
	overflow: auto;
	clip: auto;
	width: auto;
	height: auto;
}


#icons {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

.page-centered-content {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 900px;
	margin: 0 auto;
}



@media screen and (min-width: 900px) {
	.page-centered-content {
		padding-left: 0;
		padding-right: 0;
	}
	.main-navigation > ul > li:first-of-type {
		margin-left: -15px;
	}
}

main {
	margin: 20px;
	min-height: 400px;
}

main + footer {
	background: #404040;
	color: #fff;
	font-size: 1.25rem;
	padding: 1em 0;
	text-align: center;
	margin-top: 2rem;
}
main + footer a,
main + footer a:visited{
	color: #fff;
}

#stack2 {
	width: 45%;
}

#stack2 .stack-top {
	border-bottom: 2px solid #666;
}

.stack-top button {
	--top-fill-color: transparent;
	--top-stroke-color: currentColor;
	--icon-color: currentColor;
	--stroke-color: currentColor;
	--highlight-color: transparent;
}
.stack-top button:hover,
.stack-top button:focus {
	--top-fill-color: #203299;
	--top-stroke-color: currentColor;
	--icon-color: #fff;
	--stroke-color: currentColor;
	--highlight-color: #adb3b8;
}
.stack-top button:focus {
	outline-offset: -1px;
}